APP_HOST=
APP_PORT=
APP_ENV=

DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_SSL_MODE=

DB_SUPERADMIN_LOGIN=
DB_SUPERADMIN_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

JWT_SECRET_KEY=
# in seconds
JWT_REFRESH_TOKEN_LIFE_TIME=
JWT_ACCESS_TOKEN_LIFE_TIME=